In [10]:
import pandas as pd
from gspread import service_account

In [11]:

gc = service_account(filename = "W:\\Assignment\\importing-data-spreadsheet-490f58876eb9.json")

In [12]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1-3iuUm3m9ICq6WnUSbNJT8paxmNoXLG0fQB-VDo5re4/edit?usp=sharing')

In [14]:
ws1 = sheet.worksheet('Sheet1')

In [15]:
df = pd.DataFrame(ws1.get_all_records())

In [16]:
df.head()

     Class  Student
0  Class_1       70
1  Class_2       60
2  Class_3       60
3  Class_4       50

In [17]:
ws2 = sheet.worksheet('Sheet2')
df2 = pd.DataFrame(ws2.get_all_records())
df2.head()

  Class  Subject
0   1st   Bangla
1   2nd  English
2   3rd     Math
3   4th  History